<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imagenes/fotoperfiloriginal.jpg" alt="Foto de Perfil" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Exequiel Ignacio Holzinger</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est debitis, iste quas amet eaque laboriosam praesentium! Quod obcaecati laborum esse necessitatibus nostrum accusamus at repellat, alias dolore nesciunt, cum consequuntur.</p>
        </span>
    </div>
</div>