<div class="row">
    <h1>Experiencia laboral</h1>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusantium beatae distinctio voluptate architecto, nostrum eum commodi debitis, sint labore possimus! Incidunt facere aliquam nesciunt voluptatum architecto explicabo excepturi vitae!</p>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusantium beatae distinctio voluptate architecto, nostrum eum commodi debitis, sint labore possimus! Incidunt facere aliquam nesciunt voluptatum architecto explicabo excepturi vitae!</p>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusantium beatae distinctio voluptate architecto, nostrum eum commodi debitis, sint labore possimus! Incidunt facere aliquam nesciunt voluptatum architecto explicabo excepturi vitae!</p>
            </ul>
        </div>
</div>