<div class="row">
    <h1>Proyectos realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Titulo de proyecto 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae deserunt sunt quam, dignissimos ipsam modi sit? Accusamus nulla, commodi vero deserunt quos quisquam asperiores veniam, sit delectus distinctio, officia totam.</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/imagenes/4-min.jpg" class="img-fluid img-proyecto" alt="Foto del proyesto 1">
            </div>
        </div>
</div>