<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/imagenes/Logos Redes Sociales/APLogo.png" alt="Logo Argentina Programa" id="logoAP"></a>
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/imagenes/Logos Redes Sociales/github.png" alt="Logo Git Hub"></a>
            <a href=""><img src="../../../assets/imagenes/Logos Redes Sociales/instagram.png" alt="Logo Instagram"></a>
            <a href=""><img src="../../../assets/imagenes/Logos Redes Sociales/facebook.png" alt="Logo Facebook"></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>  
            <button type="button" class="btn btn-outline-light">INGRESO</button>                    
        </div>
    </div>
</div>
